.cards-container {
    display: flex;
    flex-direction: column;
}

.cards-row {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 2rem; /* Adjust spacing between rows */
}

.cards-main {
    width: 12rem; /* Adjust as needed */
    text-align: center;
}

.card-image {
    width: 6rem; /* Adjust size of circular image */
    height: 6rem; /* Adjust size of circular image */
    border-radius: 50%;
    margin-bottom: 1rem; /* Adjust spacing between image and title */
    border: #fff solid 1px ;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    color: #F84611;
    margin-bottom: 1rem; /* Adjust spacing between title and description */
}

.card-desc {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1rem; /* Adjust spacing between description and button */
}

.card-btn {
    background-color: #333; /* Adjust button color */
    color: #fff;
    border: none;
    border-radius: 1.25rem;
    padding: 0.8rem 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: #F84611 solid 2px;
}

.card-btn img {
    width: 1.25rem; /* Adjust rocket icon size */
    margin-right: 0.5rem; /* Adjust spacing between icon and text */
}

.card-btn:hover {
    background-color: #F84611; /* Adjust button color on hover */
}
