.cards-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-image: url("../../assets/images/icons/starsBg.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}

.cards-row {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 5rem; /* Adjust spacing between rows */
}

.cards-main {
    width: 12rem; /* Adjust as needed */
    /* box-sizing: border-box; */
    text-align: center;
    border: #d64c22 solid 1px;
    padding: 2rem;
    border-radius: 0.8rem;
    /* background-color:#333; */
    background: rgb(123,123,136);
background: linear-gradient(121deg, rgb(80, 80, 87) 0%, rgb(74, 80, 80) 39%, rgba(0,0,0,1) 100%);
    box-shadow: #f7f6f6;
}

.card-image {
    width: 6rem; /* Adjust size of circular image */
    height: 6rem; /* Adjust size of circular image */
    border-radius: 50%;
    margin-bottom: 1rem; /* Adjust spacing between image and title */
    border: #fff solid 1px ;
}

.card-title {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    color: #F84611;
    margin-bottom: 1rem; /* Adjust spacing between title and description */
}

.card-desc {
    font-size: 1.2rem;
    color: #f1eeee;
    margin-bottom: 1rem; /* Adjust spacing between description and button */
}
.card-after-contents{
    display: flex;
    flex-direction: column;
}
.card-btn {
    background-color: #333; /* Adjust button color */
    color: #fff;
    border: none;
    border-radius: 1.25rem;
    padding: 0.8rem 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: #F84611 solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-btn img {
    width: 1.25rem; /* Adjust rocket icon size */
    margin-right: 0.5rem; /* Adjust spacing between icon and text */
}

.card-btn:hover {
    background-color: #F84611;
    /* background: rgb(255, 60, 1); */
/* background: linear-gradient(121deg, rgb(255, 60, 0) 0%, rgb(253, 59, 0) 39%, rgba(255,59,0,1) 100%); */
}

.cards-main {
    width: 12rem; /* Adjust as needed */
    text-align: center;
    border: #d64c22 solid 1px;
    padding: 2rem;
    border-radius: 0.8rem;
    transition: transform 0.3s; /* Add transition for transform property */
}

.cards-main:hover {
    transform: scale(1.1); /* Zoom in effect on hover */
}

/* Rest of your CSS code remains unchanged */
@media screen and (max-width: 1400px) {
    .cards-row {
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }   

    .cards-main {
        /* width: calc(100% - 2rem);  */
        width: 12rem;
        padding: 1rem;
        margin-bottom: 2rem;
    }
    .card-title {
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 0.15rem;
        color: #F84611;
        margin-bottom: 1rem; /* Adjust spacing between title and description */
    }
}

@media screen and (max-width: 1200px) {
    .cards-row {
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

    .cards-main {
        width: 11rem; /* Adjust card width for smaller screens */
        margin-bottom: 2rem; /* Adjust spacing between cards */
    }
}



@media screen and (max-width: 768px) {
    .cards-row {
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

    .cards-main {
        width: calc(50% - 2rem); /* Adjust card width for smaller screens */
        margin-bottom: 2rem; /* Adjust spacing between cards */
    }
}

@media screen and (max-width: 480px) {
    .cards-main {
        /* width: calc(100% - 2rem);  */
        width: 12rem;
        padding: 1rem;
    }
}