
.faq-container{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.faq-mini-container{
  width: 70%;
  padding: 50px;
}
.faq-heading-container{
position: relative;
}
.faq-heading{
letter-spacing: 0.8rem;
margin-bottom: 20px;
}
.faq-heading::after{
  content: '';
  position: absolute;
  bottom: 0px;
  bottom: 15px;
  left: 0%;
  /* right: 50%; */
  width: 100%;
  height: 2px;
  background-color: #F84611;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  animation: moving 4s linear infinite;
}
.faq-item {
  position: relative;
   border: 1px solid #F84611;
   /* border-bottom:transparent ; */
  /* border:  0.5px solid rgb(242, 211, 211); */
  /* color: #F84611; */
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  cursor: pointer;
 
}

/* Arrow icon */
.arrow-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: orange;
  /* transition: all 0.2s ease; */
  font-size: 8px;
}

/* Question */
.question {
  color: white;
  margin: 0;
  font-size: 17px;
  padding-left: 30px; /* Adjust padding to make room for the arrow icon */
  font-weight: 350;
}
/* Answer */
.answer {
  color: #F84611;
  padding-left: 30px;
  margin-top: 10px;
  font-size: 17px;
  font-weight: 400;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}
.faq-item.open .answer {
  opacity: 1;
  max-height: 1000px; /* Set max-height to allow for smooth expansion */

}
.faq-item.open .arrow-icon {
  top: 30%; /* Adjust top position when open */
}
/*neww */
.faq-container {
width: 100%;
margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.faq-mini-container {
width: 70%;
padding: 50px;
}
.faq-item {
position: relative;
border: 0.1px solid #F84611;
border-radius: 5px;
padding: 10px;
margin-bottom: 15px;
cursor: pointer;
}
.arrow-icon {
position: absolute;
left: 10px;
top: 50%;
transform: translateY(-50%);
color: orange;
font-size: 8px;
transition: transform 1s ease; /* Smooth transition for arrow icon position */
}
.faq-item.open .arrow-icon {
transform: translateY(-50%) rotate(180deg); /* Rotate arrow icon when answer is open */
}
.faq-item.open .answer {
opacity: 1;
max-height: 1000px; 
animation: answerrr 0.5s ease-in-out;

}
.faq-item.open {
border-bottom: transparent;
}
@keyframes answerrr {
0%{
  opacity: 0;
}
50%{
  opacity: 0.5;
}
100%{
  opacity: 1;
}
}
@keyframes moving {
0% {
    transform: scaleX(0);
}
50% {
    transform: scaleX(1);
}
100% {
    transform: scaleX(0);
}
}