/* Sponsors section */
*::after {
  box-sizing: inherit;
}
.sponsors-section {
  padding-top: 10.2rem;
  padding-bottom: 9rem;
  background-color: #00fef9cb;
  color: #010507;
  position: relative;
  }
  
  /* Sponsors heading */
  .sponsors-heading {
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 0.8rem;
  }
  
  /* Sponsor list */
  .sponsor-list {
    display: flex;
    flex-direction: row; 
    /* flex-wrap: wrap; */
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1400px;
  }
  
  /* Individual sponsor item */
  .sponsor-item {
    /* width: 250px;
    margin: 0 15px 30px; */
    clear: both;
    width: 25%;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    float: left;
  }
  
  /* Sponsor card 
  /* background-color:#333;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 250px; 
    /* height: 300px;  
    transition: height 1.5s ease-in-out;  */
     
    .sponsor-card {    
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
 
  .slide{
    height: 200px;
    transition: 0.5s;
  }

  .slide1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .7s;
    transform: translateY(100px);
  }
  .slide1:hover{
    transform: translateY(1px);
  }
  
  /* .sponsor-card .slide.slide2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-100px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    transition: transform 0.5s ease-in-out, box-shadow 0.8s; /* Combined transition properties 
  } */
  .slide2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-100px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    transition: transform 0.5s ease-in-out, box-shadow 0.8s; /* Combined transition properties */
  }
  
  .slide2:hover {
    transform: translateY(0);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
  }
  .sponsor-card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 23.4% -21.8%, rgba(9, 29, 85, 1) 0.2%, rgba(0, 0, 0, 1) 100.2%);
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}
.sponsor-card .slide.slide2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
  color: #414141;
  line-height: 1.25;
}

.sponsor-card .slide.slide2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}
.sponsor-card .slide.slide2::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  bottom: 15px;
  left: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.sponsor-card .slide.slide2:hover::after {
  opacity: 1; /* Visible on hover */
}

  /* Sponsor image */
  /* .sponsor-image {
    height: 150px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out; 
  }
  
  /* .sponsor-image img {
    max-width: 100%;
    max-height: 100%;
  } */
  img{
    max-width: 100%;
    height: auto;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
  
  /* Sponsor details */
  /* .sponsor-details {
    padding: 20px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0; /* Initially hidden */
    /* transform: translateY(-100%); /* Move details up */
    /* transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; Smooth transition for opacity and transform
} 
   */
  /* Sponsor name
  .sponsor-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px; */
  /* } */
  
  /* Sponsor type */
  /* .sponsor-type {
    font-size: 14px;
    color: #666;
  } */
/* Show sponsor details on hover */
  /* Show sponsor details on hover */
  /* .sponsor-card:hover .sponsor-details {
    opacity: 1;
    transform: translateY(0%);
  }
  
  /* Move sponsor image up on hover */
  /* .sponsor-card:hover .sponsor-image {
    transform: translateY(-50%); */
     /* Move image up by 50% of its height */
  /* } */
  
  /* Increase sponsor section height on hover */
  /* .sponsor-card:hover { */
    /* height: auto;  */
  /* } */
 
  
  /* Medium Size Devices */
  @media only screen and (max-width: 1200px) {
      .row [class*="col-"] {
          padding: 0 15px;
      }
  }
  
  /* Tablets */
  @media only screen and (max-width: 800px) {
      .row {
          width: 90%;
      }
      .tab-full {
          width: 100%;
      }
  }
  
  /* Mobile Devices */
  @media only screen and (max-width: 600px) {
      .row {
          width: auto;
      }
      .row [class*="col-"] {
          padding: 0 10px;
      }
  }
  
  /* Small Mobile Devices */
  @media only screen and (max-width: 650px) {
      .row .row {
          padding-left: 0;
          padding-right: 0;
          margin-left: 0;
          margin-right: 0;
      }
      [class*="col-"] {
          width: 100% !important;
          float: none !important;
          clear: both !important;
          margin-left: 0;
          margin-right: 0;
          padding: 0;
      }
      [class*="col-"] + [class*="col-"].end {
          float: none;
      }
  }
  
  /* Medium Size Devices for Block Grids */
  @media only screen and (max-width: 1200px) {
      .block-m-1-2 .col-block {
          width: 50%;
      }
      [class*="block-m-"] .col-block:nth-child(n) {
          clear: none;
      }
      .block-m-1-2 .col-block:nth-child(2n+1) {
          clear: both;
      }
  }
  
  /* Tablets for Block Grids */
  @media only screen and (max-width: 800px) {
      .block-tab-full .col-block {
          width: 100%;
          clear: both;
      }
      [class*="block-tab-"] .col-block:nth-child(n) {
          clear: none;
      }
  }
  
  /* Mobile Devices for Block Grids */
  @media only screen and (max-width: 600px) {
      .block-mob-full .col-block {
          width: 100%;
          clear: both;
      }
      [class*="block-mob-"] .col-block:nth-child(n) {
          clear: none;
      }
  }
  
  /* Small Mobile Devices for Block Grids */
  @media only screen and (max-width: 400px) {
      .stack .col-block {
          width: 100% !important;
          float: none !important;
          clear: both !important;
          margin-left: 0;
          margin-right: 0;
      }
  }
  