.hero-container {
    position: relative;
    background-image: url();
}

.background-video video {
    width: 100%;
    height: 80vh;
    max-width: 100%;
    position: relative;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1; 
}

.hero-text-ideeeas {
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero-text-ideeeas h1 {
    font-weight: 400;
    font-size: 5rem;
    letter-spacing: 0.6rem;
    position: relative;
    white-space: nowrap;
}

.hero-text-org p {
    font-size: 1.1rem;
    letter-spacing: 0.rem;
}

/* Keyframes for moving the letter left */
@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-70px); /* Adjust the value as needed */
    }
}

/* Keyframes for inserting new letters */
@keyframes insertLetters {
    0% {
        opacity: 0;
        transform: scale(0); /* Start small */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Full size */
    }
}

/* Apply the animations */
.hero-text-ideeeas h1 span.move-left {
    display: inline-block; /* Ensures span takes up space */
    animation: moveLeft 1s forwards;
    animation-delay: 1s; /* Delay the animation for one second */
    
}

.inserted-letter {
    opacity: 0;
    animation: insertLetters 1s forwards;
    animation-delay: 2s; /* Delay the animation for 2 seconds */
}

/* Keyframes for showing the final word */
@keyframes showFinalWord {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Apply the animation for the final word */
.final-word {
    opacity: 0;
    animation: showFinalWord 1s forwards;
    animation-delay: 2s; /* Delay the animation for 2 seconds */
}

/* Keyframes for the fade-in animation for the text below */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Apply the fade-in animation to the text below */
.hero-text-org {
    margin-top:20px;
    opacity: 0; /* Initially hide the text */
    animation: fadeIn 1s ease forwards; /* Apply the fadeIn animation with 1 second duration and ease timing function */
    animation-delay: 3s; /* Delay the animation for 2 seconds */
}


@media only screen and (max-width: 700px) {
    /* Adjust styles for screens up to 480px wide */
    .hero-text-ideeeas h1 {
        font-size: 2rem;
    }
    .move-left{
        transform: translateX(-40px);
    }

    .hero-text-ideeeas h1 span.move-left {
        display: inline-block; 
        animation: moveLeftmedia 1s forwards;
        animation-delay: 1s;
    }

    @keyframes moveLeftmedia {
        0% {
            transform: translateX(-40px);
        }
        100% {
            transform: translateX(-70px); 
        }
    }

}
