.hero-container {
    position: relative;
    height: 90vh;
}

.background-video{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-video video {
    width: 100%;
    height: 100%;
    max-width: 100%;
    position: relative;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1; 
}

.hero-text-ideeeas {
    width: 90%;
    position: relative;
    padding-bottom: 90px;
}

.hero-text-ideeeas h1 {
    color:#F84611;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 70px;
    font-weight: 600;
    font-size: 6rem;
    letter-spacing: 0.5rem;
    position: relative;
    white-space: nowrap;
    -webkit-box-reflect: below -50px linear-gradient(transparent, rgb(155, 159, 233, 0.23)); 

}


.glow{
    color: white;
}
.ieeecolor{
    color:#F84611;
}

/* Apply the animations */
.hero-text-ideeeas h1 span.move-left {
    display: inline-block; /* Ensures span takes up space */
    animation: moveLeft 1s forwards;
    animation-delay: 1s; /* Delay the animation for one second */
    
}

/* .inserted-letter {
    opacity: 0;
    animation: insertLetters 1s forwards;
    animation-delay: 2s; 
} */

/* Apply the animation for the final word */
.final-word {
    opacity: 0;
    /* text-shadow: 0 0 15px rgba(255, 255, 240, 0.5); */
    animation: showFinalWord 1s forwards;
    animation-delay: 2s; /* Delay the animation for 2 seconds */
}

/* Keyframes for moving the letter left */
@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-70px); /* Adjust the value as needed */
    }
}

/* Keyframes for inserting new letters */
/* @keyframes insertLetters {
    0% {
        opacity: 0;
        transform: scale(0); 
    }
    100% {
        opacity: 1;
        transform: scale(1); 
    }
} */

/* Keyframes for showing the final word */
@keyframes showFinalWord {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hero-national-mian{
    font-weight: 400;
}
.hero-text-org h3{
    margin-top:20px;
    font-size: 2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8); /* Set text color with some transparency */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); /* Add a subtle shadow to the text */
    
}

.hero-bottom-text{
    flex-direction: column;
    transform: translateY(-25px);
    opacity:0;
    animation: bottomText 1.5s forwards;
    animation-delay: 3s; 
    letter-spacing: 0.2rem;
}

@keyframes bottomText {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    
    }
}


@media only screen and (max-width: 700px) {
    /* Adjust styles for screens up to 480px wide */
    .hero-text-ideeeas h1 {
        font-size: 2rem;
    }
    .move-left{
        transform: translateX(-40px);
    }

    .hero-text-ideeeas h1 span.move-left {
        display: inline-block; 
        animation: moveLeftmedia 1s forwards;
        animation-delay: 1s;
    }

    @keyframes moveLeftmedia {
        0% {
            transform: translateX(-40px);
        }
        100% {
            transform: translateX(-70px); 
        }
    }
    .hero-text-org h3 {
        font-size: 1rem;
        font-weight: 200;
    }
    .hero-text-ideeeas h1 {
        -webkit-box-reflect: below -38px linear-gradient(transparent, rgb(155, 159, 233, 0.25));
    }
    .hero-national h2 {
        font-size:2rem;
        font-weight: 200;
    }
    
}
/* 
.colorcolor{
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    animation-delay: 3s;
    animation: glitch 1s infinite;
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    }
    15% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    }
    16% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
    }
    49% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
    }
    50% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
    }
    99% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
    }
    100% {
        text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff, -0.04em -0.025em 0 #fffc00;
    }
} */
/* .hero-container {
    position: relative;
}

.background-video {
    position: relative;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.bgg {
    width: 50%; 
}

.left-gif {
    position: absolute;
    left: -27%;
    opacity: 0.3;
}

.right-gif {
    position: absolute;
    right: -27%;
    opacity: 0.3;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

 */
