.hero-container {
    position: relative;
    height: 90vh;
}

.background-video{
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-video video {
    width: 100%;
    height: 80vh;
    max-width: 100%;
    position: relative;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1; 
}

.hero-text-ideeeas {
    width: 90%;
    position: relative;
    padding-bottom: 90px;
}

.hero-text-ideeeas h1 {
    color:#F84611;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50px;
    font-weight: 600;
    font-size: 6rem;
    letter-spacing: 0.5rem;
    position: relative;
    white-space: nowrap;
    -webkit-box-reflect: below -50px linear-gradient(transparent, rgb(155, 159, 233, 0.25));

}

.hero-text-org p {
    font-size: 1.1rem;
    letter-spacing: 0.rem;
    
}

.glow{
    color: white;
}
.ieeecolor{
    color:#F84611;
}

/* Keyframes for moving the letter left */
@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-70px); /* Adjust the value as needed */
    }
}

/* Keyframes for inserting new letters */
@keyframes insertLetters {
    0% {
        opacity: 0;
        transform: scale(0); /* Start small */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Full size */
    }
}

/* Apply the animations */
.hero-text-ideeeas h1 span.move-left {
    display: inline-block; /* Ensures span takes up space */
    animation: moveLeft 1s forwards;
    animation-delay: 1s; /* Delay the animation for one second */
    
}

.inserted-letter {
    opacity: 0;
    animation: insertLetters 1s forwards;
    animation-delay: 2s; /* Delay the animation for 2 seconds */
}

/* Keyframes for showing the final word */
@keyframes showFinalWord {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Apply the animation for the final word */
.final-word {
    opacity: 0;
    animation: showFinalWord 1s forwards;
    animation-delay: 2s; /* Delay the animation for 2 seconds */
}


/* Apply the fade-in animation to the text below */
.hero-text-org {
    margin-top:20px;
    opacity: 1; /* Initially hide the text */

}

.hero-national-mian{
    font-weight: 400;
}

.hero-text-org h3{
    font-size: 2rem;
    font-weight: 400;
}

.hero-bottom-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(-25px);
    padding-left: 30px;
    opacity:0;
    animation: insertLetters 1.5s forwards;
    animation-delay: 2s; 
    letter-spacing: 0.2rem;
}

@keyframes bottomText {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


@media only screen and (max-width: 700px) {
    /* Adjust styles for screens up to 480px wide */
    .hero-text-ideeeas h1 {
        font-size: 2rem;
    }
    .move-left{
        transform: translateX(-40px);
    }

    .hero-text-ideeeas h1 span.move-left {
        display: inline-block; 
        animation: moveLeftmedia 1s forwards;
        animation-delay: 1s;
    }

    @keyframes moveLeftmedia {
        0% {
            transform: translateX(-40px);
        }
        100% {
            transform: translateX(-70px); 
        }
    }
    .hero-text-org h3 {
        font-size: 1rem;
        font-weight: 200;
    }
    .hero-text-ideeeas h1 {
        -webkit-box-reflect: below -38px linear-gradient(transparent, rgb(155, 159, 233, 0.25));
    }
    .hero-national h2 {
        font-size:2rem;
        font-weight: 200;
    }
    
}
