
.sub-container {
    background-image: url('../assets/images/gallery/bgs.jpeg');
    background-color: black;
    opacity: 0.9;
    padding: 0 0 50px 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: initial;
}

.sit-details, .ieee-details {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-header {
    margin-bottom: 30px;
}

.about-desc {
    font-size: 24px; 
    color: #f6f6f6;
    text-align: center; 
}

.subhead, .display-1, .display-2 {
    font-size: 35px;  
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #F84611;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

}

.sit-details {
    padding-top: 10.2rem;
    padding-bottom: 9rem;
    color: white;
    position: relative;
    max-width: fit-content;
    text-align: center;
    margin-bottom: 6px;
    margin-top: 10px;
    opacity: 0.9;
}




.ieee-details .s-about {
     padding-top: 6px;
     padding-bottom: 6px;
     color: rgb(250, 248, 248);
     position: relative;
}

 .ieee-details .section-header.has-bottom-sep {
    padding-bottom: 2px;
    position: relative;
}

 .ieee-details .section-header {
    max-width: 700px;
    text-align: relative;
    margin-bottom: 3.6rem;
}

.col-full {
    width: 100%;
}


h3{
    padding-top: 0%;
}



h1 {
    letter-spacing: auto;
    text-rendering: optimizeLegibility;
}



.row {
    width: 90%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0%;
    margin-left: auto;
}

.p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.4px;
    line-height: 1.5em;
    margin: 14px 0 10px 0;
    padding: auto;
    text-align: center;
}


  .gal-content {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  .gall .gal-content img {
    width: 90%;
    margin: 0 auto 15px auto;
  }
  
  .gall-content .gall-tag {
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 50%;
  
    
  }
  

.gal-content {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    animation: scroll 30s linear infinite;
  }
  
  .gal-tag {
    flex: 0 0 auto;
    margin-right: 20px; /* Adjust spacing between images */
  }
  
  .gal-tag {
    margin-right: 0; /* Remove margin for the last image */
  }
  
  .gal-tag img {
    max-width: 50%;
    height: auto;
    display: block;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% * 9));
    }
  }
  